<section class="navCart">
    <div class="top">
        <p>Cart</p>
        <img src="~/IMG/close.png" width="30" class="close" />
    </div>
    <div class="navCart__product">
        <div>Nothing yet!</div>
    </div>
    <div class="price">
        <p>Total</p>
        <p>0đ</p>
    </div>
    <div class="navCart__btn">
        <button>Continute</button>
        <button>Pay</button>
    </div>
    <textarea placeholder="Note!"></textarea>
</section>