
<div class="overlay"></div>
<section class="navSearch">
    <div class="top">
        <p>Search</p>
        <img src="~/IMG/close.png" width="30" class="close"/>
    </div>
    <div class="input">
        <input type="text" placeholder="Search products here" />
       <img src="~/IMG/searchblack.png" width="20"/>
    </div>
</section>

