.system {
    padding: 70px 0;
}

.system h2{
    font-size: 40px;
}

.system__wrap{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 50px 0;
}

.system__item {
    width: calc((100% / 3) - 30px);
    background: linear-gradient(to right top, hsla(269, 99%, 70%, 0.305), hsla(191, 100%, 69%, 0.305));
    padding: 30px;
}

.system__item h3{
    text-align:center;
    font-size: 25px;
    font-weight: bolder;
}

    .system__item h5{
        text-align: left;
    }


.system__adr p {
    margin-bottom: 20px;
}

.system__adr:not(:last-child){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}