footer {
    width: 100%;
    background: linear-gradient(to right bottom, var(--primary-cl), var(--second-cl));
    color: white;
}

footer .container-fluid {
    padding: 30px 100px 20px;
}

.city {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.store-item{
    margin-bottom: 20px;
}

.store-item h4{
    font-size: 20px;
    margin-bottom:10px;
}

.store-item ul li p{
    font-size: 12px;
    margin-bottom: 10px;
}

.store-item ul li p img{
    margin-right: 10px;
    display: inline;
}

.store.bh{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid white;
}

.store.bh .city{
    margin-bottom: 40px;
}

.store-item.line{
    border-right: 1px solid white;
}

.footer__content {
    width: 100%;
    height: 100%;
    display:flex;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.footer__bottom{
    display:flex;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}
.social-icon img{
    margin-top: 20px;
    margin-right: 20px;
}

.footer__bottom .policy h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer__bottom .policy ul li{
    margin-bottom: 15px;
    font-size: 14px;
}

.footer__tag{
    display:flex;
    justify-content:center;
    margin-top:20px;
}