.userLogin {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.448);
}


.userLogin_wrap {
    display: block;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    padding: 0 50px;
    box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, .6);
    position: relative;
    overflow: hidden;
}

.over__lay {
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    z-index: 2;
    transition: 3s;
}

    .over__lay.active {
        transform: translateX(-100%);
    }


        .userLogin .form-control {
            margin-bottom: 30px;
        }

.userLogin form {
    width: 100%;
}

.userLogin h2 {
    font-size: 70px;
    margin-bottom: 60px;
    background: transparent;
    text-shadow: 0 0 10px #ffffff92, 0 0 5px #ffffff92, 0 0 15px #ffffff92, 0 0 20px #ffffff92, 0 0 5px #ffffff92;
}

.userLogin label {
    margin-bottom: 20px;
}

.userLogin input {
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, .4);
}


.userLogin_btn {
    background: white;
    color: black;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border: 0;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, .4);
}

.login_fb{
    margin-top: 50px ;
}

