*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' !important;
}

img{
    display: block;
    max-width: 100%;
}

.title {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}


.right-arrow {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slideRightMove 1s linear forwards infinite;
}

.left-arrow {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slideLeftMove 1s linear forwards infinite;
}


@keyframes slideLeftMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30px);
    }
}

@keyframes slideRightMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

/*Carousel*/
.carousel__wrap {
    height: 700px;
}

.carousel__item {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

    .carousel__item img {
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        position: absolute;
    }

/*Sale Up*/
/*.saleUp {
    width: 100%;
    background: black;
    padding: 30px 0 80px;
    position: relative;
}

.saleUp .container{
    width: 100%;
    height: 100%;
}
    .saleUp .more {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 17px;
    }

    .saleUp h2 {
        font-size: 50px;
        margin-bottom: 60px;
        padding-bottom: 40px;
        position: relative;
        color: white;
    }
        .saleUp h2:after {
            content: "";
            position: absolute;
            width: 100px;
            height: 3px;
            background: gray;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
.saleUp__wrap {
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: space-between;
}

    .saleUp__wrap .product__items {
        width: calc((100% / 4) - 30px);
        height: 100%;
        background: white;
    }*/

/*Banner*/
.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 50px;
}

.banner__item {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 15px 40px;
    border: 2px solid rgba(128, 128, 128, 2);
}

.banner__item .txt{
    margin-left: 20px;
}

    .banner__item .txt a {
        display:block;
        color: black;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }


    .banner__item .txt span{
        font-size: 16px;
    }