*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' !important;
}

img{
    display: block;
    max-width: 100%;
}

.title {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.more {
    width: 70px;
    text-align: center;
    padding: 10px;
    margin: 40px auto 0;
    display: block;
    color: black;
    font-size: 20px;
    transition: 0.4s;
}
    .more:hover {
        text-decoration: none;
        color: black;

    }


.right-arrow {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slideRightMove 1s linear forwards infinite;
}

.left-arrow {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slideLeftMove 1s linear forwards infinite;
}


@keyframes slideLeftMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30px);
    }
}

@keyframes slideRightMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

/*Carousel*/
.carousel__wrap {
    height: 700px;
}

.carousel__item {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

    .carousel__item img {
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        position: absolute;
    }



/*Banner*/
.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px;
}

.banner__item {
    display: flex;
    align-items: center;
    width: 450px;
    padding: 15px 40px;
    border: 2px solid rgba(128, 128, 128, 2);
}

.banner__item .txt{
    margin-left: 20px;
}

    .banner__item .txt a {
        display:block;
        color: black;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }


    .banner__item .txt span{
        font-size: 16px;
    }