@model LapTrinhWeb.Models.Cart

<style>
    .badge{
        color: black;
        background: white;
        margin-left: -10px;
        margin-top: -10px;
    }
</style>
<span class="badge">@ViewBag.infoCart</span>
