
@{
    ViewBag.Title = "Address";
}



<section class="system">
    <h2 class="text-center"> Chain Store System </h2>
    <div class="container">
        <div class="system__wrap">
            <div class="system__item">
                <h3 class="city">TP.Ho Chi Minh</h3>
                <div class="system__adr">
                    <h5 class="title">Store 1</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 2</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 3</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 4</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
            </div>
            <div class="system__item">
                <h3 class="city">TP.Bien Hoa</h3>
                <div class="system__adr">
                    <h5 class="title">Store 5</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 6</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 7</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 8</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
            </div>
            <div class="system__item">
                <h3 class="city">TP.Ha Noi</h3>
                <div class="system__adr">
                    <h5 class="title">Store 9</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 10</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 11</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
                <div class="system__adr">
                    <h5 class="title">Store 12</h5>
                    <p>17bis Huỳnh Đình Hai Phường 14 - Quận Bình Thạnh</p>
                    <span>02866 506 201</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="banner">
    <div class="banner__item">
        <img src="~/IMG/car.png" width="50" />
        <div class="txt">
            <p>FreeShip</p>
            <span>FreeShip with orders over 500</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/technical-support.png" width="50" />
        <div class="txt">
            <p>Customer Service(9:00 - 21:00)</p>
            <span>013 32495 324</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/exchange.png" width="50" />
        <div class="txt">
            <p>Exchange</p>
            <span>Within 07 days</span>
        </div>
    </div>
</section>