
@{
    ViewBag.Title = "Size";
}

<style>
    .group {
        padding: 80px;
    }
    .group h2 {
        font-size: 45px;
        margin-bottom: 80px;
    }

    .group img{
        margin: 0 auto;
    }


</style>


<section class="group">
    <h2 class="text-center">PERFUME GROUP GUIDE</h2>
    <img src="~/IMG/table.jpg"/>
</section>
<section class="banner">
    <div class="banner__item">
        <img src="~/IMG/car.png" width="50" />
        <div class="txt">
            <p>FreeShip</p>
            <span>FreeShip with orders over 500</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/technical-support.png" width="50" />
        <div class="txt">
            <p>Customer Service(9:00 - 21:00)</p>
            <span>013 32495 324</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/exchange.png" width="50" />
        <div class="txt">
            <p>Exchange</p>
            <span>Within 07 days</span>
        </div>
    </div>
</section>