
@{
    ViewBag.Title = "Size";
}

<style>
    .group {
        padding: 80px;
    }
    .group h2 {
        font-size: 45px;
        margin-bottom: 80px;
    }

    .group img{
        margin: 0 auto;
    }


</style>


<section class="group">
    <h2 class="text-center">PERFUME GROUP GUIDE</h2>
    <img src="~/IMG/table.jpg"/>
</section>
