@{
    ViewBag.Title = "Home Page";
}

<section class="carousel">
    <div class="carousel__wrap">
        <div class="carousel__item active">
            <img src="~/IMG/carousel2.jpg" />
        </div>
        <div class="carousel__item">
            <img src="~/IMG/carousel1.jpg" />
        </div>
        <div class="carousel__item">
            <img src="~/IMG/carousel3.jpg" />
        </div>
        <img class="left-arrow" src="~/IMG/left-arrow.png" width="40"/>
        <img class="right-arrow" src="~/IMG/right-arrow.png" width="40"/>
    </div>
</section>

<section class="newProducts">
    <div class="container">
        <h2 class="text-center">New Producst</h2>
        <div class="product__wrap">
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/product1.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>

        </div>
    </div>
    <a href="#" class="more">More</a>
</section>

<section class="saleUp">
    <h2 class="title">Sale Up To 50%</h2>
    <a href="#" class="more">More</a>
    <div class="container">
        <div class="saleUp__wrap">
            <div class="product__items">
                <img src="~/IMG/saleup.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/saleup.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/saleup.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <div class="product__items">
                <img src="~/IMG/saleup.jpg" />
                <p class="title">Chanel Coco Mademoiselle</p>
                <p><span>3.290.000</span><span>4.200.200</span></p>
            </div>
            <img class="left-arrow" src="~/IMG/left-arrow.png" width="40" />
            <img class="right-arrow" src="~/IMG/right-arrow.png" width="40" />
        </div>
   </div>
</section>

<section class="banner">
        <div class="banner__item">
            <img src="~/IMG/car.png" width="50"/>
            <div class="txt">
                <p>FreeShip</p>
                <span>FreeShip with orders over 500</span>
            </div>
        </div>
        <div class="banner__item">
            <img src="~/IMG/technical-support.png" width="50" />
            <div class="txt">
                <p>Customer Service(9:00 - 21:00)</p>
                <span>013 32495 324</span>
            </div>
        </div>
        <div class="banner__item">
            <img src="~/IMG/exchange.png" width="50" />
            <div class="txt">
                <p>Exchange</p>
                <span>Within 07 days</span>
            </div>
        </div>
</section>