
@{
    ViewBag.Title = "Intro";
}

<section class="intro">
    <div class="container">
        <div class="intro_main">
            <h2 class="text-center">INTRODUCE</h2>
            <div class="intro_img">
                <img src="~/IMG/intro.png" />
            </div>
            <div class="intro_content">
                <h4>About Perfume</h4>
                <p>
                    A leader in prestige omni-retail, our purpose at Sephora is to create a welcoming beauty shopping experience and inspire fearlessness in our community. We operate over 2,700 stores in 35 countries worldwide, with an expanding base of over 500 stores across the Americas. Since opening our first US store in New York’s SoHo neighborhood in 1998, Sephora has been an industry-leading champion of diversity, inclusivity, and empowerment in the US, guided by our longstanding company values. In 2019, Sephora announced a new tagline and manifesto, “We Belong to Something Beautiful,” to reinforce our dedication to fostering belonging among all clients and employees and to publicly strive for a more inclusive vision for retail in the Americas.
                </p>
            </div>
        </div>
    </div>
</section>