
@{
    ViewBag.Title = "OnlineShopping";
}



<section class="onlShop">
    <div class="container">
        <h2 class="text-center">Get Your Beauty Today</h2>
        <h3 class="text-center">Buy Online, Pick Up  Curbside</h3>
        <p class="purchase text-center">Purchase your products online and get them at a store near you today.</p>
        <div class="onlShop__wrap">
            <div class="onlShop__item">
                <div class="onlShop__logo">
                    <img src="~/IMG/letter.png"  width="80px"/>
                </div>
                <p class="title">Step 1</p>
                <p class="desc">
                    Choose your product and
                    select your store from the
                    "Buy Online & Pick Up" option
                    to see if Curbside Pickup
                    is available.
                </p>
            </div>
            <div class="onlShop__item">
                <div class="onlShop__logo">
                    <img src="~/IMG/car2.png" width="80px" />
                </div>
                <p class="title">Step 2</p>
                <p class="desc">
                    Choose your product and
                    select your store from the
                    "Buy Online & Pick Up" option
                    to see if Curbside Pickup
                    is available.
                </p>
            </div>
            <div class="onlShop__item">
                <div class="onlShop__logo">
                    <img src="~/IMG/location.png" width="80px"/>
                </div>
                <p class="title">Step 3</p>
                <p class="desc">
                    Choose your product and
                    select your store from the
                    "Buy Online & Pick Up" option
                    to see if Curbside Pickup
                    is available.
                </p>
            </div>
        </div>
    </div> 
</section>