
@{
    ViewBag.Title = "Return";
}

<style>
    .return{
        padding: 70px 0;
    }

    .return p{
        font-size: 30px;
    }
     .return ul{
         margin-top: 30px;
     }

    .return ul li{
        list-style: circle;
        margin-bottom: 30px;
        line-height: 20px;
    }


</style>


<div class="return ">
    <div class="container">
        <p>Perfume Return & Exchange Policy</p>
        <ul>
            <li>All products to be exchanged must be returned in their original packaging along with the original sales receipt within 14 days from the date of purchase (Product should be in its original condition)</li>
            <li>If you do not have your purchase receipt, exchange will not be possible</li>
            <li>Repairs of the products damaged due to wear &; Tear will be entertain on management discretion Within 6 months of the purchase, Please note that the management has the right to assess the age &; condition of the returned goods prior to offering a repair or exchange (Terms &amp; Conditions Apply)</li>
            <li>Disclaimer for certain item category not eligible for return due to hygiene region i.e. cosmetics/undergarments etc.</li>
            <li>Upon request, and at our discretion, we may exchange defective/ faulty items for identical items of equivalent value</li>
            <li>For your security &; personal safety, CCTV cameras are in operation in these premises.</li>
            <li>The Management reserves the right to amend this policy without prior notice</li>
            <li>You can return items that were originally part of the promotion but you will lose the promotional discount. For example, if the item you are returning is part of a “buy two, get one free” deal, your refund will be adjusted against the retail per-piece rate of the products you choose to keep after the return.</li>
            <li><strong>Credit/Debit card Payment:</strong> Note that your bank or card issuer can take 2-15 additional business days to process the transaction.</li>
            <li><strong>Voucher Payment:</strong> Only product exchange is possible – voucher is non-refundable and cannot be exchanged for cash / Gift card / voucher in part or full</li>
            <li><strong>Corporate Gift card Payment:</strong> Only product exchange is possible – card is non-refundable and cannot be exchanged for cash / Gift card / voucher in part or full</li>
            <li>Any Club Apparel points collected during purchase will be reversed in case of refund</li>
            <li>Products purchased outside of stores at exhibitions and sale events will neither be exchanged nor refunded.</li>
            <li>Unwashed, unworn or defective merchandise may be returned within 30 days of purchase date for a full refund. All returned items must have the tags attached, along with the original sales receipt</li>
            <li>Undergarments, Accessories(artificial jewelers) and cosmetics once seal is opened cannot be returned or exchanged for hygienic reasons</li>
        </ul>
    </div>
</div>
<section class="banner">
    <div class="banner__item">
        <img src="~/IMG/car.png" width="50" />
        <div class="txt">
            <p>FreeShip</p>
            <span>FreeShip with orders over 500</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/technical-support.png" width="50" />
        <div class="txt">
            <p>Customer Service(9:00 - 21:00)</p>
            <span>013 32495 324</span>
        </div>
    </div>
    <div class="banner__item">
        <img src="~/IMG/exchange.png" width="50" />
        <div class="txt">
            <p>Exchange</p>
            <span>Within 07 days</span>
        </div>
    </div>
</section>